.products{
   display: flex;
}
.product-item{
   margin-right: 10px;
   border: 1px solid black;
   padding: 10px;
}

 .btn-cart:hover{
   color: gray;
   cursor: pointer;
}

.buy-btn:hover{
   background-color: gray;
   cursor: pointer;
}

a{
   text-decoration: none;
   color: black
}

.fa-shopping-cart{
   font-size: 30px;
   margin-bottom: 10px;
}